.App {
  text-align: center;
  margin: 0;
}


.App-header {
  background-color: #222;
  height: 90px;
  padding: 20px;
  color: white;
}

.navbar-nav {
  margin: auto;
}

.container {
	width: 80%;
	max-width: 600px !important;
}

td {
	text-align: left;
}

tr td:last-child {
	width: 20%;
}

.form-group {
	margin-top: 1rem;
}

.form-control-file {
	display: inline-block !important;
}
